<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>The Coder's Almanac</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;400&display=swap" rel="stylesheet">
</head>

<body>
      <nav class="row">
        <img href="/assets/images/coders almanac.png"></img>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
  <div id="topbar-responsive" class="topbar-responsive-links">
    <div class="top-bar-right">
      <ul class="menu simple vertical medium-horizontal">
        <li><a href="#">Home</a></li>
        <li><a href="/plants">See Plants</a></li>
          <button type="no-button" class="button hollow topbar-responsive-button" id="logout">Logout</button>
        </li>
      </ul>
    </div>
  </div>
        {{else}}
       <div class="top-bar-title">
  <div id="topbar-responsive" class="topbar-responsive-links">
    <div class="top-bar-right">
      <ul class="menu simple vertical medium-horizontal">
        <li><a href="#">Home</a></li>
        {{!-- need to update this link over time --}}
        <li><a href="/login">Login</a></li>
      </ul>
    </div>
  </div>
  </nav>

        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
