<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>The Coder's Almanac - {{plant.name}} Details</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;400&display=swap" rel="stylesheet">
</head>

<div class="work-feature-block row">
  <div class="columns medium-7">
    <img class="work-feature-block-image" src="/images/plants/{{plant.filename}}"/>
  </div>
  <div class="columns medium-5">
    <h2 class="work-feature-block-header">Plant Description</h2>
    <p>{{plant.description}}</p>
    <h2>Planting Details</h2>
    <ul>
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
      <li>Item 4</li>
    </ul>
  </div>
</div>

